# React-native and npm
# Can be regenerated using npm install or yarn install
# Ignore to save space
/node_modules/
yarn.lock

# KDE dolphin shenanigans
.directory

# Android app by react-antive
# Exclude gradle, build files, API Keys, and keystores used for signing
/android/.gradle
/android/app/build/
/android/app/src/main/res/values/api-keys.xml
*.keystore
